
  @-webkit-keyframes scale-breathe {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-breathe {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .scaleupcenter {
    -webkit-animation: scale-breathe 2s ease-in-out infinite alternate;
            animation: scale-breathe 2s ease-in-out infinite alternate;
  }
  